.message{data: {id: "#{message.id}"}}
  %ul.message__list
    %li.message__list__info
      %p.message__list__info__name
        = message.user.name
      %p.message__list__info__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    %li.message__list__box
      - if message.text.present?
        %p.message__list__box__text
          = message.text
      =image_tag message.image.url if message.image.present?