.message
  %ul.message__list
    %li.message__list__info
      %p.message__list__info__name
        test-abc
      %p.message__list__info__date
        2019/08/21(Wed) 15:25:59
    %li.message__list__box
      %p.message__list__box__text
        Hello Chat-space
      =image_tag " ", alt: " ", title: ""