.wrapper
  .chat-side
    .side-header
    .groups
      .groups__menu
        .groups__menu__list
        sample
        .groups__menu__list.groups__menu__list--slender
        よろしくお願いします
  .chat-main
    .main-header
    .messages
    .form
