.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__menu
          .side-header__box__menu__list
            test-abc
          .side-header__box__menu__list.fas.fa-edit
          .side-header__box__menu__list.fas.fa-cog
    .groups
      .groups__menu
        .groups__menu__list
        sample
        .groups__menu__list.groups__menu__list--slender
        よろしくお願いします
  .chat-main
    .main-header
    .messages
    .form
