.flash-box
  グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %ul.side-header__box__menu
          %li.side-header__box__menu__list
            test-abc
          %li.side-header__box__menu__list.fas.fa-edit
          %li.side-header__box__menu__list.fas.fa-cog
    .groups
      =link_to " " do
        .group
          .group__title
            sample
          .group__latest-message
            よろしくお願いします
  .chat-main
    .main-header
      .main-header__title
        .main-header__title__name
          sample
        .main-header__title__info
          Member : sample
        .main-header__edit-button
          Edit
    .messages
      .messages__menu
        .messages__menu__list
          .messages__menu__list__info
            .messages__menu__list__info__name
              test-abc
            .messages__menu__list__info__date
              2019/08/21(Wed) 15:25:59
          .messages__menu__list__box
            .messages__menu__list__box__text
              よろしくお願いします
            .messages__menu__list__box__image
    .form
      .form__box
        .form__box__data
          .form__box__data__text
            type a message
          .form__box__data.far.fa-image
        .form__box__send-button
          Send
