// color
$color-skyblue: #38AEF0;
$color-info: #999999;
$color-message: #434a54;
// width or heigth
$chat-side-width: 300px;
$side-header-height: 100px;
$main-header-height: 100px;
$form-heigth: 90px;