@import "./reset";
@import " font-awesome ";

$color-skyblue: #38AEF0;

.flash-box{
  text-align: center;
  color: white;
  background-color: $color-skyblue;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.chat-side{
  width: 300px;
  height: 100vw;
  margin: 0 0;
  padding: 0 20px;
}

.chat-main{
  width: calc(100vw - 300px);
  height: 100vw;
}