@import "./reset";
@import "./variable";
@import " font-awesome ";

*{
  box-sizing: border-box;
}
.flash-box{
  text-align: center;
  color: white;
  background-color: $color-skyblue;
}

.wrapper{
  display: flex;
  width: 100vw;
}

.chat-side{
  width: $chat-side-width;
  height: 100vh;
  color: #ffffff;

  a{
    color: white;
    text-decoration: none;
  }
}

.side-header{
  background-color: #253141;
  padding: 0 20px;
  height: $side-header-height;
  line-height: $side-header-height;
  &__box{
    display: flex;
    justify-content: space-between;
    &__user-name{
      font-size: 16px;
      font-weight: bold;
    }
    &__menu{
      display: flex;
      &__list{
        padding-left: 5px;
      }
    }
  }
}

.groups{
  background-color: #2f3e51;
  padding: 0 20px;
  height: calc(100vh - #{$side-header-height});
}

.group{
  padding: 20px 0;
  &__title{
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__latest-message{
    font-size: 11px;
  }
}
.chat-main{
  width: calc(100vw - #{$chat-side-width});
  height: 100vh;
}

.main-header{
  display: flex;
  justify-content: space-between;
  height: $main-header-height;
  padding: 0 40px;
  border-bottom: solid thin #eeeeee;
  a{
    color: $color-skyblue;
    text-decoration: none;
  }
  &__title{
    &__name{
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &__info{
      font-size: 12px;
      color: $color-info;
      padding-top: 15px;
    }
  }
  &__edit-button{
    border: solid thin #{$color-skyblue};
    padding: 0 20px;
    margin-top: 28px;
    height: 40px;
    line-height: 40px;
  }
}

.messages{
  height: calc(100vh - #{$main-header-height + $form-heigth});
  background-color: #fafafa;
  padding: 0 40px;
  padding-top: 23px;
}

.message{
  padding: 20px 0;
  &__list{
    color: $color-message;
    &__info{
      display: flex;
      &__name{
        font-size: 16px;
        font-weight: bold;
      }
      &__date{
        font-size: 12px;
        color: $color-info;
      }
    }
    &__text{
      padding-top: 10px;
      font-size: 14px;
    }
  }
}


.form{
  background-color: $color-info;
  color: $color-message;
  position: relative;
  height: $form-heigth;
  &__box{
    display: flex;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: absolute;
    top: 20px;
    &__data{
      position: relative;
      background-color: white;
      width: 100%;
      &__text{
        border: none;
        padding: 0 30px 0 10px;
        width: 100%;
        line-height: 50px;
        font-size: 16px;
      }
      &__image{
        position: absolute;
        right: 10px;
        input{
          display: none;
        }
      }
    }
    &__send-button{
      color: white;
      background-color: $color-skyblue;
      width: 100px;
      padding: 0 30px;
      margin-left: 15px;
      border: none;

    }
  }
}