@import "./reset";
@import "./variable";
@import " font-awesome ";

// color
$color-skyblue: #38AEF0;
// width or heigth
$chat-side-width: 300px;
$side-header-height: 100px;

*{
  box-sizing: border-box;
}
.flash-box{
  text-align: center;
  color: white;
  background-color: $color-skyblue;
}

.wrapper{
  display: flex;
  width: 100vw;
}

.chat-side{
  width: $chat-side-width;
  height: 100vw;
  color: #ffffff;

  a{
    color: white;
    text-decoration: none;
  }
}

.side-header{
  background-color: #253141;
  padding: 0 20px;
  height: $side-header-height;
  line-height: $side-header-height;
  &__box{
    display: flex;
    justify-content: space-between;
    &__user-name{
      font-size: 16px;
      font-weight: bold;
    }
    &__menu{
      display: flex;
    }
  }
}

.groups{
  background-color: #2f3e51;
  padding: 0 20px;
  height: calc(100vh - #{$side-header-height});
}

.group{
  padding: 20px 0;
  &__title{
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__latest-message{
    font-size: 11px;
  }
}
.chat-main{
  width: calc(100vw - #{$chat-side-width});
  height: 100vw;
}